<!doctype html>
<html>
<head>
  <title>Ratings</title>
  <link rel="stylesheet" href="/static/styles.css"/>
</head>

<body>
<ul id="nav"> {% for message in get_flashed_messages() %}
	<li>{{ message }}</li>
	 {% endfor %}
</ul>
  <h1>Ratings</h1>

  <div id="nav"><center>
    <a href="/movies">Movies | </a>
    <a href="/users">Users | </a>
  {% if session.get('user_id') %}
    <a href="/logout">Log Out</a>
  {% else %}
    <a href="/login">Log In |</a>
    <a href="/register">Register</a>
  {% endif %}
  </center></div>



  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>